.public-layout{
    display: flex;
}

.public-layout .image{
    background: var(--overlay);
    background-size: cover;
    flex: 3;
}

.public-layout .container{
    height: 100vh;
    display: flex;
    padding: 3rem 2rem;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    background: var(--white);
}

.private-layout{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    width: 100vw;
    margin: 0 auto;
}


.private-layout .container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    margin: 5vh auto;
    flex-wrap: wrap;
    width: 90%;
    min-height: 80vh;
    background: var(--background);
    border-radius: var(--radius);
    box-shadow: 1px 1px 5px var(--title);
    flex-direction: column;
}

.private-layout .buttons{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 85%; 
}

@media(max-width:600px){
    .public-layout{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem ;
    }
    .public-layout .image{
        display: none;
    }

    .public-layout .container{
        height: 100vh;
        display: flex;
        padding: 5rem 2rem;
        margin: 8rem ;
        border-radius: var(--radius);
        box-shadow: 1px 1px 5px var(--title);
        }

}
